## OS
# Windows
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# macOS
# General
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
Icon[]

# Resource forks
._*

# Linux
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# Metadata left by Dolphin file manager, which comes with KDE Plasma
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Log files created by default by the nohup command
nohup.out


## mise
.mise.*.local.toml
.mise.local.toml
mise.*.local.toml
mise.local.toml
.mise/*.local.toml
mise/*.local.toml


## lefthook
/.lefthook-local.json
/.lefthook-local.toml
/.lefthook-local.yaml
/.lefthook-local.yml
/lefthook-local.json
/lefthook-local.toml
/lefthook-local.yaml
/lefthook-local.yml
/.config/lefthook-local.json
/.config/lefthook-local.toml
/.config/lefthook-local.yaml
/.config/lefthook-local.yml
/.lefthook-local/


## JetBrains
.idea/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


## Visual Studio Code
.vscode/*
*.code-workspace

# Built Visual Studio Code Extensions
*.vsix


## Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Files for testing.
serviceAccountKey.json
credentials.json

# Binary / Config for Example
examples/**/*.json
examples/**/*.txt
examples/receiver/receiver
examples/receiver/receiver.exe
examples/sender/sender
examples/sender/sender.exe
examples/sender-vapid/sender-vapid
examples/sender-vapid/sender-vapid.exe
examples/topic/topic
examples/topic/topic.exe
